

:root{
  --primary-color: #D62839;
  --dark-text: #A6B07E;
  --off-white: #C9C9C9;
}

body{
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
}

hr {
  margin: 1.5rem 0;
}

/*------- container --------*/
.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

.content-fluid {}

/*------- Link --------*/
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color)
}

/*------- List --------*/

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/*------- Nav --------*/
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigation .nav-pill{
  text-align: right;
}

.navigation .link {
  color: white;
}

/*------- header --------*/

.hero {
  padding: 2rem;
}

.hero .hero-img {
  max-width: 300px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  color: var(--dark-text);
  padding-top: 1rem;
}

/*------- section --------*/
.section {
  padding: 1rem 0;
}

.section h1,.section h2,.section h3 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/*------- section --------*/

.footer {
  background-color: var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
  padding-inline-start: 0px;
}
